[auth]
CONSUMER_KEY = ...
CONSUMER_SECRET = ...
ACCESS_TOKEN = ...
ACCESS_TOKEN_SECRET = ...

[email]
mailfrom=Foo <foo@bar.com>
username = foo+bar.com
password = p@ssW0rdz
server=mail.bar.com
port=25

[db1]
to=daily@foo.com

[db2]
to=daily@bar.com

[match]
databases=db1,db2
regex=((?P<db1>foo)|(?P<db2>bar))
track=foo,bar
